[Desktop Entry]
Version=1.0
Type=Application
Name=Portmux Claude
Exec=brave-origin-beta --profile-directory="Profile 5" --app="https://claude.ai"
Icon=/home/atharv/arch-setup/hyprland/claude/claude-ai-icon.svg
Terminal=false
Categories=Network;
