[Desktop Entry]
Version=1.0
Type=Application
Name=scamtheta Claude
Exec=google-chrome-stable --profile-directory="Profile 6"
Icon=/home/atharv/arch-setup/hyprland/claude/claude-ai-icon.svg
Terminal=false
Categories=Network;
